<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
      <% if @user_info.image.attached? %>
        <%= image_tag("user_icon.png", alt: "User Icon", class: "user-icon") %>
      <% else %>
        <%= image_tag "default.png", size: "300x300" %>
      <% end %>
      </div>
      <div class="mt-3">
      </div>
    </div>
    <div class="col-md-8">
      <h3>ユーザー情報</h3>
      <table class="table">
        <tbody>
          <tr>
            <th>名前:</th>
            <td><%= @user_info.name %></td>
          </tr>
          <tr>
            <th>必要エネルギー:</th>
            <td><%= @user_info.metabolism %> kcal/日</td>
          </tr>
          <tr>
            <th>タンパク質:</th>
            <td><%= @user_info.protein %> g/日</td>
          </tr>
          <tr>
            <th>炭水化物:</th>
            <td><%= @user_info.carbo %> g/日</td>
          </tr>
          <tr>
            <th>脂質:</th>
            <td><%= @user_info.fat %> g/日</td>
          </tr>
          <tr>
            <th>塩分:</th>
            <td><%= @user_info.salt %> g/日</td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集", edit_user_physical_information_path(@user_info), class: "btn btn-primary btn-block" %>
      <%= link_to "管理者メニュー", rails_admin_path, class: "btn btn-dark btn-block" if current_user.admin?%>
    </div>
  </div>
</div>

</body>
</html>
