<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>User Show</title>
</head>
<body>

<div class="container mt-5">
  <h2 class="mb-4">User Show</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
      <% if @user_info.image.attached? %>
        <%= image_tag("user_icon.png", alt: "User Icon", class: "user-icon") %>
      <% else %>
        <%= image_tag "default.png", size: "150x150" %>
      <% end %>
      </div>
      <div class="mt-3">
        <%= button_tag "Add Image", type: "button", class: "btn btn-primary btn-block" %>
      </div>
    </div>
    <div class="col-md-8">
      <h3>User Information</h3>
      <table class="table">
        <tbody>
          <tr>
            <th>Name:</th>
            <td><%= @user_info.name %></td>
          </tr>
          <tr>
            <th>Metabolism:</th>
            <td><%= @user_info.metabolism %> kcal/day</td>
          </tr>
          <!-- 他のユーザー情報がある場合、ここに追加 -->
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>
