<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
      <% if @user_info.image.attached? %>
        <%= image_tag("user_icon.png", alt: "User Icon", class: "user-icon") %>
      <% else %>
        <%= image_tag "default.png", size: "300x300" %>
      <% end %>
      </div>
      <div class="mt-3">
      </div>
    </div>
    <div class="col-md-8">
      <h3>User Information</h3>
      <table class="table">
        <tbody>
          <tr>
            <th>Name:</th>
            <td><%= @user_info.name %></td>
          </tr>
          <tr>
            <th>Metabolism:</th>
            <td><%= @user_info.metabolism %> kcal/day</td>
          </tr>
          <tr>
            <th>Protein:</th>
            <td><%= @user_info.protein %> g/day</td>
          </tr>
          <tr>
            <th>Carbohydrates:</th>
            <td><%= @user_info.carbo %> g/day</td>
          </tr>
          <tr>
            <th>Fat:</th>
            <td><%= @user_info.fat %> g/day</td>
          </tr>
          <tr>
            <th>Salt:</th>
            <td><%= @user_info.salt %> g/day</td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集", edit_user_physical_information_path(@user_info), class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>

</body>
</html>
