<%= form_with(model: @custom_food, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true, id: 'custom_food_name' %>
  </div>
  <%= link_to 'AIで栄養素を取得', '#', class: 'btn btn-secondary', id: 'fetch-nutrient-data' %>
  <div id="loader-bg" class="is-hide">
    <div id="loader" class="is-hide">
        <p>
          <div class="ball-pulse"><div></div><div></div><div></div></div>
        </p>
    </div>
</div>
  <div class="form-group">
    <%= form.label :calorie %>
    <%= form.number_field :calorie, step: "any", class: 'form-control', min: 0, required: true, id: 'custom_food_calorie' %>
  </div>

  <div class="form-group">
    <%= form.label :protein %>
    <%= form.number_field :protein, step: "any", class: 'form-control', min: 0, required: true, id: 'custom_food_protein' %>
  </div>

  <div class="form-group">
    <%= form.label :carbo %>
    <%= form.number_field :carbo, step: "any", class: 'form-control', min: 0, required: true, id: 'custom_food_carbo' %>
  </div>

  <div class="form-group">
    <%= form.label :fat %>
    <%= form.number_field :fat, step: "any", class: 'form-control', min: 0, required: true, id: 'custom_food_fat' %>
  </div>

  <div class="form-group">
    <%= form.label :salt %>
    <%= form.number_field :salt, step: "any", class: 'form-control', min: 0, required: true, id: 'custom_food_salt' %>
  </div>

  <div class="form-group">
    <%= form.label :unit %>
    <%= form.text_field :unit, step: "any", class: 'form-control', required: true, id: 'custom_food_unit' %>
  </div>

  <div class="form-group">
    <%= form.submit '登録', step: "any", class: 'btn btn-primary' %>
  </div>
<% end %>
<h4>栄養素情報自動入力に関する注意事項</h4>
<h5>栄養素情報の正確性：自動入力された栄養素情報は、ChatGPT APIによって提供されています。</h5>
<h5>APIは一般的に高い精度を持っていますが、必ずしも正確な情報が提供されるわけではありません。</h5>
<h5>自動入力された情報が正確かどうかを確認するようお願いいたします。</h5>
<h5>入力エラー：入力された食材名によってはエラーがかえり、栄養素情報の自動入力が正常に機能しない可能性があります。</h5>
<h5>エラーが発生した場合は、手動で情報を入力してください。</h5>


