<%= form_with(model: @custom_food, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :calorie %>
    <%= form.number_field :calorie, step: "any", class: 'form-control', min: 0, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :protein %>
    <%= form.number_field :protein, step: "any", class: 'form-control', min: 0, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :carbo %>
    <%= form.number_field :carbo, step: "any", class: 'form-control', min: 0, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :fat %>
    <%= form.number_field :fat, step: "any", class: 'form-control', min: 0, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :salt %>
    <%= form.number_field :salt, step: "any", class: 'form-control', min: 0, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :unit %>
    <%= form.text_field :unit, step: "any", class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.submit 'Create Custom Food', step: "any", class: 'btn btn-primary' %>
  </div>
<% end %>
