<%= form_with(model: @myset, url: myset_path(@myset), method: :put, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", value: @myset.name %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <% if @myset.image.attached? %>
      <%= image_tag url_for(@myset.image.variant(resize: "300x300")), class: "img-fluid" %>
    <% end %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>食品名</th>
        <th>単位数量</th>
        <th>分量</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @myset.myset_foods.each do |myset_food| %>
        <%= form.fields_for :myset_foods, myset_food do |f| %>
          <%= f.hidden_field :id %>
          <tr>
            <td><%= myset_food.food.name %></td>
            <td><%= myset_food.food.unit %></td>
            <td><%= f.number_field :amount, class: "form-control", min: 0, step: 1 %></td>
            <td><%= link_to "削除", myset_food_path(myset_food), method: :delete, data: { confirm: "この食材を削除してもよろしいですか？" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= form.submit "更新", class: "btn btn-primary" %>
<% end %>
