<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @myset, local: true) do |form| %>
      <% if @myset.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@myset.errors.count, "error") %> prohibited this myset from being saved:</h2>
          <ul>
          <% @myset.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.label :Mysetå %>
      <%= form.text_field :name %>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>