<style>
.has-record {
  background-color: #b3e5fc; /* 記録がある日付の背景色を変更 */
}
.no-record {
  color: #757575; /* 記録がない日付の文字色を変更 */
}
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<div class="calendar-container">
  <%= month_calendar do |date| %>
    <%= content_tag :div, class: "day" do %>
      <% daily_record = current_user.daily_records.find_by(date: date) %>
      <% if daily_record %>
        <%= content_tag :div, class: "has-record" do %>
          <%= link_to date.day, daily_record_path(daily_record) %>
        <% end %>
      <% else %>
        <%= content_tag :div, class: "no-record" do %>
          <%= link_to date.day, new_daily_record_path(date: date) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>