<style>
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/4);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#myset:checked ~ #myset_content,
#history:checked ~ #history_content,
#food:checked ~ #food_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
</style>
<%= notice %>
<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">食材検索</label>
  <input id="myset" type="radio" name="tab_item">
  <label class="tab_item" for="myset">Myset</label>
  <input id="history" type="radio" name="tab_item">
  <label class="tab_item" for="history">履歴</label>
  <input id="food" type="radio" name="tab_item">
  <label class="tab_item" for="food">食材追加</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp">
        <table>
          <thead>
            <tr>
              <th>食材選択</th>
              <th>食品名</th>
              <th>カロリー</th>
              <th>タンパク質</th>
              <th>炭水化物</th>
              <th>脂質</th>
              <th>塩分</th>
              <th>単位数量</th>
              <th>食事分類</th>
            </tr>
          </thead>
          <%= form_with(scope: :daily_record, url: daily_records_path, method: :post, local: true) do |form| %>
            <div class="field">
              <%= form.label :date %>
              <%= form.date_field :date %>
          <tbody>
            </div>
            <% @foods.each do |f| %>
              <%= form.fields_for :daily_record_items do |item_form| %>
                <tr>
                  <td><%= item_form.check_box :food_id, { multiple: true }, f.id, nil %></td>
                  <td><%= f.name %></td>
                  <td><%= f.calorie %></td>
                  <td><%= f.protein %></td>
                  <td><%= f.carbo %></td>
                  <td><%= f.fat %></td>
                  <td><%= f.salt %></td>
                  <td><%= f.unit %></td>
                  <td>
                  <div class="field">
                      <%= item_form.select :meal_timing, options_for_select(DailyRecordItem.meal_timings), {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
                  </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <br>
          <%= form.submit %>
          <% end %>
      </p>
    </div>
  </div>
  <div class="tab_content" id="myset_content">
    <div class="tab_content_description">
      <p class="c-txtsp">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Myset作成</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Myset登録</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with(scope: :myset, url: mysets_path, local: true ) do |form| %>
                <%= form.label :name %>
                <%= form.text_field :name %>
                <div class="modal-footer">
                  <div class="actions">
                  <%= form.submit %>
                  </div>
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <table>
          <thead>
            <tr>
              <th>Myset名</th>
            </tr>
          </thead>
          <tbody>
            <% @mysets.each do |f| %>
            <tr>
                <td><%= f.name %></td>
                <td><%= link_to "編集", edit_myset_path(f.id), class:'btn btn-sm btn-success' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
  <div class="tab_content" id="history_content">
    <div class="tab_content_description">
      <p class="c-txtsp">履歴上位10を表示</p>
    </div>
  </div>
  <div class="tab_content" id="food_content">
    <div class="tab_content_description">
      <p class="c-txtsp">食材追加アクションを追加</p>
    </div>
  </div>
</div>
