<style>
  .button-spacing {
    margin-right: 5px;
    margin-bottom: 5px;
  }
</style>
<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">食材検索</label>
  <input id="myset" type="radio" name="tab_item">
  <label class="tab_item" for="myset">Myset</label>
  <input id="food" type="radio" name="tab_item">
  <label class="tab_item" for="food">食材追加</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp">
      <%= render 'search', q: @q, url: new_daily_record_path %>
        <%= form_with(scope: :daily_record, url: daily_records_path, method: :post, local: true) do |form| %>
          <table>
            <thead>
              <tr>
                <th>食品名</th>
                <th>カロリー</th>
                <th>タンパク質</th>
                <th>炭水化物</th>
                <th>脂質</th>
                <th>塩分</th>
                <th>単位数量</th>
                <th>食事分類</th>
              </tr>
            </thead>
            <div class="field">
              <%= form.label :記録日 %>
              <%= form.date_field :date, value: @selected_date %>
            </div>
            <tbody>
              <% @foods.each do |f| %>
                <%= form.fields_for :daily_record_items do |item_form| %>
                  <tr>
                    <td><%= f.name %></td>
                    <td><%= f.calorie %></td>
                    <td><%= f.protein %></td>
                    <td><%= f.carbo %></td>
                    <td><%= f.fat %></td>
                    <td><%= f.salt %></td>
                    <td><%= f.unit %></td>
                    <td>
                      <div class="field">
                        <%= item_form.select "food_selections[#{f.id}]", DailyRecordItem.meal_timings.keys,{ :include_blank => 'カテゴリを選んでください' }, class: 'form-control btn btn-outline-primary' %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <br>
          <%= form.submit "記録", class: "btn btn-primary" %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="tab_content" id="myset_content">
    <div class="tab_content_description">
      <p class="c-txtsp">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Myset作成</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Myset登録</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with(scope: :myset, url: mysets_path, local: true ) do |form| %>
                <%= form.label :"Myset名" %>
                <%= form.text_field :name, placeholder: 'Myset名を入力' %>
                <div class="modal-footer">
                  <div class="actions">
                  <%= form.submit "作成", class: "btn btn-primary" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= form_with(scope: :daily_record, url: daily_records_path, method: :post, local: true) do |form| %>
        <table>
          <thead>
            <tr>
              <th>Myset名</th>
            </tr>
          </thead>
          <div class="field">
            <%= form.label :記録日 %>
            <%= form.date_field :date, value: @selected_date %>
          </div>
            <tbody>
              <% @mysets.each do |f| %>
                <%= form.fields_for :daily_record_items do |item_form| %>
                  <tr>
                    <td><%= f.name %></td>
                    <td>
                      <div class="field">
                        <%= item_form.select "myset_selections[#{f.id}]", DailyRecordItem.meal_timings.keys,{ :include_blank => 'カテゴリを選んでください' }, class: 'form-control btn btn-outline-primary m-1' %>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-warning m-2" data-bs-toggle="modal" data-bs-target="#editMysetNameModal-<%= f.id %>">Myset名変更</button>
                    </td>
                    <td><%= link_to "詳細", myset_path(f.id), class:'btn btn-sm btn-success m-1' %></td>
                    <td><%= link_to "削除", myset_path(f.id), method: :delete, data: { confirm: "このMysetを削除してもよろしいですか？" }, class: "btn btn-danger m-1" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
        </table>
        <%= form.submit "記録", class: "btn btn-primary" %>
      <% end %>
        <% @mysets.each do |f| %>
          <div class="modal fade" id="editMysetNameModal-<%= f.id %>" tabindex="-1" aria-labelledby="editMysetNameModalLabel-<%= f.id %>" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="editMysetNameModalLabel-<%= f.id %>">Myset名の変更</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= form_with(scope: :myset, url: myset_path(f.id), method: :put, local: true) do |m| %>
                    <%= m.label :Myset名 %>
                    <%= m.text_field :name, placeholder: 'Myset名を入力してくだい' %>
                    <div class="modal-footer">
                      <div class="actions">
                        <%= m.submit "変更", class: "btn btn-primary" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="tab_content" id="food_content">
    <div class="tab_content_description">
      <p class="c-txtsp"></p>
      <%= link_to "食材を追加する", new_custom_food_path, class: "btn btn-primary mb-3" %>
      <%= form_with(scope: :daily_record, url: daily_records_path, method: :post, local: true) do |form| %>
        <table>
          <thead>
            <tr>
              <th>食品名</th>
              <th>カロリー</th>
              <th>タンパク質</th>
              <th>炭水化物</th>
              <th>脂質</th>
              <th>塩分</th>
              <th>単位数量</th>
              <th>食事分類</th>
            </tr>
          </thead>
          <div class="field">
            <%= form.label :記録日 %>
            <%= form.date_field :date, value: @selected_date %>
          </div>
          <tbody>
            <% @custom_foods.each do |f| %>
              <%= form.fields_for :daily_record_items do |item_form| %>
                <tr>
                  <td><%= f.name %></td>
                  <td><%= f.calorie %></td>
                  <td><%= f.protein %></td>
                  <td><%= f.carbo %></td>
                  <td><%= f.fat %></td>
                  <td><%= f.salt %></td>
                  <td><%= f.unit %></td>
                  <td>
                    <div class="field">
                      <%= item_form.select "custom_food_selections[#{f.id}]", DailyRecordItem.meal_timings.keys,{ :include_blank => 'カテゴリを選んでください' }, class: 'form-control btn btn-outline-primary' %>
                    </div>
                  </td>
                  <td><%= link_to "詳細", custom_food_path(f.id), class:'btn btn-sm btn-success m-1' %></td>
                  <td><%= link_to "削除", custom_food_path(f.id), method: :delete, data: { confirm: "このMysetを削除してもよろしいですか？" }, class: "btn btn-danger m-1" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= form.submit "記録", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
