<h1 class="text-center"><%= @daily_record.date %></h1>
<% energy_requirement = @user_physical_information.metabolism %>
<% consumed_calories = @daily_record.consumed_calories %>
<% consumed_protein = @daily_record.consumed_protein %>
<% consumed_carbo = @daily_record.consumed_carbo %>
<% consumed_fat = @daily_record.consumed_fat %>
<% consumed_salt = @daily_record.consumed_salt %>

<div class="container">
  <div class="row justify-content-center">
    <dl class="dl-horizontal">
      <dt>カロリー</dt>
      <dd>
        <div class="progress" style="width: 100%; height: 25px;">
          <div class="progress-bar" style="width: <%= (consumed_calories.to_f / energy_requirement) * 100 %>%;">
            <span style="font-size: 18px;">
              <%= format('%.2f', consumed_calories) %> / <%= @user_physical_information.metabolism %>kcal
            </span>
          </div>
          </div>
        </div>
      </dd>
      <dt>タンパク質</dt>
      <dd>
        <div class="progress mt-3" style="width: 100%; height: 25px;">
          <div class="progress-bar" role="progressbar" style="width: <%= (consumed_protein.to_f / @user_physical_information.protein) * 100 %>%;">
          <span style="font-size: 18px;">
            <%= format('%.2f', consumed_protein) %> / <%= @user_physical_information.protein %>g
          </span>
          </div>
        </div>
      </dd>
      <dt>炭水化物</dt>
      <dd>
        <div class="progress mt-3" style="height: 25px;">
          <div class="progress-bar" role="progressbar" style="width: <%= (consumed_carbo.to_f /  @user_physical_information.carbo) * 100 %>%;">
          <span style="font-size: 18px;">
            <%= format('%.2f', consumed_carbo) %> / <%= @user_physical_information.carbo %>g
          </span>
          </div>
        </div>
      </dd>
      <dt>脂質</dt>
      <dd>
        <div class="progress mt-3" style="height: 25px;">
          <div class="progress-bar" role="progressbar" style="width: <%= (consumed_fat.to_f / @user_physical_information.fat) * 100 %>%;">
            <span style="font-size: 18px;">
              <%= format('%.2f', consumed_fat) %> / <%= @user_physical_information.fat %>g
            </span>
          </div>
        </div>
      </dd>
      <dt>塩分</dt>
      <dd>
        <div class="progress mt-3" style="height: 25px;">
          <div class="progress-bar" role="progressbar" style="width: <%= (consumed_salt.to_f / @user_physical_information.salt) * 100 %>%;">
            <span style="font-size: 18px;">
              <%= format('%.2f', consumed_salt) %> / <%= @user_physical_information.salt %>g
            </span>
          </div>
        </div>
      </dd>
    </dl>
  </div>
</div>
<div class="record-meal-button">
<%= link_to "食事を記録する", new_daily_record_path(date: @daily_record.date), class: 'btn btn-primary btn-lg btn-block' %></div>
<div class="container">
  <h3>朝食</h3>
  <%= render partial: 'daily_record_items_table', locals: { daily_record_items: @daily_record_items.select { |item| item.meal_timing == '朝食' } } %>

  <h3>昼食</h3>
  <%= render partial: 'daily_record_items_table', locals: { daily_record_items: @daily_record_items.select { |item| item.meal_timing == '昼食' } } %>

  <h3>夕食</h3>
  <%= render partial: 'daily_record_items_table', locals: { daily_record_items: @daily_record_items.select { |item| item.meal_timing == '夕食' } } %>

  <h3>間食</h3>
  <%= render partial: 'daily_record_items_table', locals: { daily_record_items: @daily_record_items.select { |item| item.meal_timing == '間食' } } %>
</div>
  </tbody>
</table>