<dl class="dl-horizontal">
  <dt>カロリー</dt>
  <dd>
    <div class="progress">
      <div class="progress-bar" style="width: 100%;">
        100
      </div>
    </div>
  </dd>
  <dt>タンパク質</dt>
  <dd>
    <div class="progress">
      <div class="progress-bar" style="width: 50%;">
        50
      </div>
    </div>
  </dd>
  <dt>炭水化物</dt>
  <dd>
    <div class="progress">
      <div class="progress-bar" style="width: 70%;">
        70
      </div>
    </div>
  </dd>
  <dt>脂質</dt>
  <dd>
    <div class="progress">
      <div class="progress-bar" style="width: 30%;">
        30
      </div>
    </div>
  </dd>
  <dt>脂質</dt>
  <dd>
    <div class="progress">
      <div class="progress-bar" style="width: 30%;">
        30
      </div>
    </div>
  </dd>
</dl>
<div class ='btn btn-light'><%= link_to "食事を記録する", new_daily_record_path %></div>
<table>
  <thead>
    <tr>
      <th>食品名</th>
      <th>カロリー</th>
      <th>タンパク質</th>
      <th>炭水化物</th>
      <th>脂質</th>
      <th>塩分</th>
      <th>単位数量</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.calorie %></td>
        <td><%= f.protein %></td>
        <td><%= f.carbo %></td>
        <td><%= f.fat %></td>
        <td><%= f.salt %></td>
        <td><%= f.unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>